// Project Vaiables and Mixins

// Color
$color1: #666666;
$color2: #cccccc;

$page: #ffffff;
$border: #cccccc;


// Font
$sans-serif: Verdana, Helvetica, sans-serif;
$serif: Georgia, Baskerville, Garamond, 'Times New Roman';
$mono: Courier, monospace, sans-serif;


// Mixins
@mixin element-hidden {
	display: none;
}